\datasets
fastNLP==1.0.1
fitlog==0.9.15
InstructorEmbedding==1.0.1
jsonlines==4.0.0
numpy==1.19.5
openai==1.73.0
scikit_learn
scipy
sentence_transformers==4.0.2
torch==2.6.0
tqdm==4.67.1
transformers==4.51.2
